
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" name="first_name" placeholder="Enter firstname" ngModel>
  </div><br>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" name="last_name" placeholder="Enter lastname" ngModel>
  </div><br>
  <div class="form-check">
    <label for="e-mail">E-mail</label>
    <input type="text" class="form-control" name="email" placeholder="Enter e-mail" ngModel>
  </div><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<app-reactiveform> </app-reactiveform>