<form [formGroup]= "contactForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
            formControlName="name">
        <div *ngIf="f['name'].touched && f['name'].errors" class="alert alert-danger">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
            <div *ngIf="f['name'].errors['minlength']">Minimum 3 characters required</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email"
                formControlName="email">
            <div *ngIf="f['email'].touched && f['email'].errors" class="alert alert-danger">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['pattern']">Email is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mobilenumber">Mobile Number</label>
            <input type="text" class="form-control" id="email" name="mobilenumber"
                placeholder="Enter your mobile number" formControlName="mobilenumber">
            <div *ngIf="f['mobilenumber'].touched && f['mobilenumber'].errors" class="alert alert-danger">
                <div *ngIf="f['mobilenumber'].errors['required']">Mobile number is required</div>
                <div *ngIf="f['mobilenumber'].errors['minlength']">Minimum 10 characters required</div>
                <div *ngIf="f['mobilenumber'].errors['maxlength']">Maximum 10 characters required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="countryId">Country</label>
            <select class="form-select" name="countryId" formControlName="countryId">
                <option value="">Select country</option>
                <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                
            </select>
            <div *ngIf="f['country'].touched && f['country'].errors" class="alert alert-danger">
                <div *ngIf="f['country'].errors['required']">Country is required</div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="Enter message"
            formControlName="email">
        <div *ngIf="f['message'].touched && f['message'].errors" class="alert alert-danger">
            <div *ngIf="f['message'].errors['required']">Message is required</div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
    </div>
    </form>